@graph_width: 1000px;

body {
	font-family: Verdana, sans serif;
	font-size: 13px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#stats_header,
#raw_stats_header {
	padding: 10px;
	font-size: 24px;
	text-align: center;
}

#stats_header {
	width: @graph_width;
}

#raw_stats_header {
	margin-bottom: 20px;
}

#graph {
	width: @graph_width;
	height: 300px;
}

#day_stats,
#month_stats {
	margin-top: 30px;
}

#date {
	display: none;
}