<!DOCTYPE html>
<html>
<head>
	<title>plogx {% block title %}{% endblock %}</title>
	<script type="text/javascript" src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>	
	<script type="text/javascript" src="/static/js/plogx.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flot.min.js"></script>
	<script type="text/javascript" src="/static/js/moment.min.js"></script>
	<style type="text/css" src="/static/css/plogx.css"></style>
	{% block head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>