<!DOCTYPE html>
<html>
<head>
	<title>plogx</title>
	<script type="text/javascript" src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>	
	<script type="text/javascript" src="/static/js/plogx.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flot.min.js"></script>
	<script type="text/javascript" src="/static/js/moment.min.js"></script>
	<style type="text/css" src="/static/css/plogx.css"></style>
</head>
<body>
<div id="month_stats" style="width:1000px; height:300px;"></div>
<div id="day_stats" style="margin-top:50px;"></div>
</body>
</html>