{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/static/js/multifilter.min.js"></script>
<script type="text/javascript" src="/static/js/raw_logs.js"></script>

<style type="text/css">
table th,
table td {
    border: 1px solid #ccc;
    padding: 5px 10px;
}
table {
    border-spacing: 0px;
}
.filter {
    margin: 5px 0;
    width:100%;
}
</style>
{% endblock %}

{% block content %}

<table>
    <thead>
        <th>Timestamp<br/><input class='filter' name='timestamp' placeholder='Filter' data-col='Timestamp'/></th>
        <th>Path<br/><input class='filter' name='path' placeholder='Filter' data-col='Path'/></th>
        <th>IP Address<br/><input class='filter' name='ip_address' placeholder='Filter' data-col='IP Address' id="ip_address"/></th>
        <th>Client<br/><input class='filter' name='client' placeholder='Filter' data-col='Client'/></th>
        <th>Referrer<br/><input class='filter' name='referrer' placeholder='Filter' data-col='Referrer'/></th>
    </thead>
    {% for item in log_items %}
    <tr>
        <td>{{ item.timestamp }}</td>
        <td>{{ item.path|truncate(40, killwords=True) }}</td>
        <td>{{ item.ip_address}}</td>
        <td>{{ item.client|truncate(50) }}</td>
        <td>{{ item.referrer|truncate(80) }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}