{% extends "base.html" %}

{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jplist/5.1.35/jplist.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jplist/5.1.35/jplist.min.css" />
<script type="text/javascript" src="/static/js/raw_logs.js"></script>

<style type="text/css">
table th,
table td {
    border: 1px solid #ccc;
    padding: 5px 10px;
}
table {
    border-spacing: 0px;
}
</style>

{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Timestamp</th>
        <th>Path</th>
        <th>IP Address</th>
        <th>Client</th>
        <th>Referrer</th>
    </tr>
    {% for item in log_items %}
    <tr>
        <td>{{ item.timestamp }}</td>
        <td>{{ item.path|truncate(40, killwords=True) }}</td>
        <td>{{ item.ip_address}}</td>
        <td>{{ item.client|truncate(40) }}</td>
        <td>{{ item.referrer|truncate(60) }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}